<!DOCTYPE html>
<html>
<body>
        <table style="width:960px;min-width:960px;margin:0 auto;">
            <tr>
                <td style="width:960px;min-width:960px;">
<div style="display:block;float:left;width:100%;font-weight:100;font-size:20px;">
                                <div style="background: #f00;display:block;font-weight:100;font-size:20px;text-align:left;float:left;width:50%" >
                                    <div style="background: #f00; ">
                                        <img src="http://socialmm.pt/healthydiet/public/img/logo2.png"  style="margin: 20px;width: 130px;height:auto;"/>
                                    </div>
                                    <div style="display:block;font-weight:100;text-align:left;float:left;width:40%;">
                                        <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px">
                                            Rua de Santo António Nº100
                                        </p>
                                        <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px">
                                            2435-063 Caxarias - Ourém
                                        </p>
                                        <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px">
                                            Portugal
                                        </p>
                                    </div>
                                    <div style="display:block;float:left;width:60%;font-weight:100;font-size:20px;text-align:left">
                                        <div style="display:block;width:100%;">
                                            <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px">
                                                Tlf. 249 577 777
                                            </p>
                                            <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px">
                                                Tlm. 914561361
                                            </p>
                                            <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px">
                                                geral@healthydiet.pt
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div style="display:block;font-weight:100;font-size:20px;text-align:left;float:left;width:50%">
                                    <p style="width:45%;text-align: right;display: inline-block; margin: 0px;font-size: 13px;" >Data:</p>
                                    <p style="width:50%;text-align: left;display: inline-block;margin: 0px 0px 10px 10px;font-size: 13px;">26-09-2017</p>
                                    <p style="width:45%;text-align: right;display: inline-block; margin: 0px;font-size: 13px;" >Nº de Utilizador:</p>
                                    <p style="width:50%;text-align: left;display: inline-block;margin: 0px 0px 10px 10px;font-size: 13px;">45</p>
                                    <p style="width:45%;text-align: right;display: inline-block; margin: 0px;font-size: 13px;" >Faturado a:</p>
                                    <p style="width:50%;text-align: left;display: inline-block;margin: 0px 0px 10px 10px;font-size: 13px;">joel Simões</p>
                                    <p style="width:45%;text-align: right;display: inline-block; margin: 0px;font-size: 13px;" >Nº de Contribuinte:</p>
                                    <p style="width:50%;text-align: left;display: inline-block;margin: 0px 0px 10px 10px;font-size: 13px;"> 123456789</p>
                                    <p style="width:45%;text-align: right;display: inline-block; margin: 0px;font-size: 13px;" >Nº de Encomenda:</p>
                                    <p style="width:50%;text-align: left;display: inline-block;margin: 0px 0px 10px 10px;font-size: 13px;">1</p>
                                </div>
                            </div>
                            </td>
                            </tr>
</table>
</body>
</html>