<!DOCTYPE html>
<html >
<head>
</head>
    <body >

        <div style="width:960px;min-width:960px;margin:0 auto;">
                            <div style="display:block;float:left;width:100%;font-weight:100;font-size:20px;">
                                <div style="display:block;font-weight:100;font-size:20px;text-align:left;float:left;width:50%" >
                                    <div style="display:block;width:320px;margin-bottom:20px;font-weight:100;font-size:20px;">
                                        <img src="http://socialmm.pt/healthydiet/public/img/logo2.png"  style="margin: 20px;width: 130px;height:auto;"/>
                                    </div>
                                    <div style="display:block;font-weight:100;text-align:left;float:left;width:40%;">
                                        <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px;margin-top: 4px;">
                                            Rua de Santo António Nº100
                                        </p>
                                        <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0p;margin-top: 4px;x">
                                            2435-063 Caxarias - Ourém
                                        </p>
                                        <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px;margin-top: 4px;">
                                            Portugal
                                        </p>
                                    </div>
                                    <div style="display:block;float:left;width:60%;font-weight:100;font-size:20px;text-align:left">
                                        <div style="display:block;width:100%;">
                                            <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px;margin-top: 4px;">
                                                Tlf. 249 577 777
                                            </p>
                                            <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px;margin-top: 4px;">
                                                Tlm. 914561361
                                            </p>
                                            <p style="font-family:sans-serif;font-size:11px;line-height:15px;font-weight:100;display:block;margin-bottom:0px;margin-top: 4px;">
                                                geral@healthydiet.pt
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div style="display:block;font-weight:100;font-size:20px;text-align:left;float:left;width:50%">
                                    <p style="width:45%;float:left;text-align: right;display: inline-block; margin: 0px;font-size: 13px;" >Data:</p>
                                    <p style="width:45%;text-align: left;float:left;display: inline-block;margin: 0px 0px 10px 10px;font-size: 13px;">26-09-2017</p>
                                    <p style="float:left;width:45%;text-align: right;display: inline-block; margin: 0px;font-size: 13px;" >Nº de Utilizador:</p>
                                    <p style="float:left;width:50%;text-align: left;display: inline-block;margin: 0px 0px 10px 10px;font-size: 13px;">45</p>
                                    <p style="float:left;width:45%;text-align: right;display: inline-block; margin: 0px;font-size: 13px;" >Faturado a:</p>
                                    <p style="float:left;width:50%;text-align: left;display: inline-block;margin: 0px 0px 10px 10px;font-size: 13px;">joel Simões</p>
                                    <p style="float:left;width:45%;text-align: right;display: inline-block; margin: 0px;font-size: 13px;" >Nº de Contribuinte:</p>
                                    <p style="float:left;width:50%;text-align: left;display: inline-block;margin: 0px 0px 10px 10px;font-size: 13px;"> 123456789</p>
                                    <p style="float:left;width:45%;text-align: right;display: inline-block; margin: 0px;font-size: 13px;" >Nº de Encomenda:</p>
                                    <p style="float:left;width:50%;text-align: left;display: inline-block;margin: 0px 0px 10px 10px;font-size: 13px;">1</p>
                                </div>
                            </div>
                            <div style="display:block;float:left;width:100%;font-weight:100;font-size:20px;">
                                <div style="display:block;text-align:left;float:left;width:40%;position:relative;background:#F8F7F6;padding: 3.5%;margin-top: 20px;margin-bottom: 20px;margin-right: 3%;">
                                    <p style="font-family:sans-serif;line-height:15px;font-weight:100;font-size:13px">
                                        Morada de Entrega:
                                    </p>
                                    <p style="font-family:sans-serif;line-height:15px;font-weight:100;font-size:13px">
                                        Rua de Santo António nº100                                    </p>
                                    <p style="font-family:sans-serif;line-height:15px;font-weight:100;font-size:13px">
                                        1223-123                                    </p>
                                    <p style="font-family:sans-serif;line-height:15px;font-weight:100;font-size:13px">
                                        OUREM                                    </p>
                                </div>
                                <div style="display:block;width:40%;font-weight:100;font-size:20px;text-align:left;float:left;position:relative;background:#F8F7F6;padding: 3.5%;margin-top: 20px;margin-bottom: 20px;margin-left: 3%" >
                                    <p style="font-family:sans-serif;line-height:15px;font-weight:100;font-size:13px">
                                        Morada de Faturação:
                                    </p>
                                    <p style="font-family:sans-serif;line-height:15px;font-weight:100;font-size:13px">
                                        Rua de Santo António nº100                                    </p>
                                    <p style="font-family:sans-serif;line-height:15px;font-weight:100;font-size:13px">
                                        1223-123                                    </p>
                                    <p style="font-family:sans-serif;line-height:15px;font-weight:100;font-size:13px">
                                        OUREM                                    </p>
                                </div>
                            </div>
                        <h2 style="display:block;float: left;width:960px;font-weight:100;font-size:20px;text-align:left">
                            Detalhes da Encomenda:
                        </h2>
                        <div style="display:block;position:relative;margin-bottom:20px;float:left; width:960px;">
                            <div style="display:block;width:100%;text-align:left;float: left;margin-top: 20px;background: #F8F7F6;font-size:13px">
                                <table style="width: 100%;border-collapse:collapse;border: 3px solid #000;">
                                    <thead>
                                        <tr>
                                            <th style="border: 1px solid;padding: 0px 5px;text-align:center;">
                                                Codigo do produto
                                            </th>
                                            <th style="border: 1px solid;padding: 0px 5px;text-align:center;">
                                                Nome
                                            </th>
                                            <th style="border: 1px solid;padding: 0px 5px;text-align:center;">
                                                Iva
                                            </th>
                                            <th style="border: 1px solid;padding: 0px 5px;text-align:center;">
                                                Preço
                                            </th>
                                            <th style="border: 1px solid;padding: 0px 5px;text-align:center;">
                                                Quantidade
                                            </th>
                                            <th style="border: 1px solid;padding: 0px 5px;text-align:center;">
                                                Total
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                                                                    <tr>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    12                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    Abdogras                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    23%
                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    26.59€
                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    1                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    26.59€
                                                </td>
                                            </tr>
                                                                                        <tr>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    13                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    Natusor 13 - Circusil                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    23%
                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    8.99€
                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    1                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    8.99€
                                                </td>
                                            </tr>
                                                                                        <tr>
                                                <td colspan="5" style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    Total:
                                                </td>
                                                <td style="border: 1px solid;padding: 0px 5px;height: 30px;vertical-align: middle;">
                                                    35.58€
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h2 style="display:block;float: left;width:960px;font-weight:100;font-size:20px;text-align:left">
                                Observações:
                            </h2>
                            <div style="display:block;font-weight:100;font-size:13px;text-align:left;float: left;margin-top: 20px;background: #F8F7F6;width:960px;">
                                <p style="font-family:sans-serif;line-height:15px;font-weight:100;font-size:13px;width: 56%;float: left;display: inline-block;padding: 0px 2%;">
                                                                    </p>
                                <div style="font-weight:100;width: 34%;float: left;display: inline-block;border-left: 1px solid #ddd;padding: 0px 2%;margin:13px 0px;font-weight:100;font-size:13px;text-align:left">
                                    <h4 style="margin-top: 0px;">Metodo de Pagamento:</h4>
                                    <div style="display:block;width:100%;">
                                        Transferência Bancária                                    </div>
                                                                            <div style="display:block;width:100%;">
                                            NIB: 0010 0000 5361 5170 0010 4
                                        </div>
                                                                        </div>
                                
                            </div>
                            <div style="display:block;width:960px;font-weight:100;font-size:20px;text-align:right;float: left;border-top:1px solid #ddd;margin-top:10px;padding-top:30px;">
                                <p style="font-family:sans-serif;font-size:13px;font-weight:100;text-align:center">
                                    <strong style="font-family:sans-serif;font-weight:700">
                                        Tlf.
                                    </strong>
                                    249 790 976 |
                                    <strong style="font-family:sans-serif;font-weight:700">
                                        Tlm.
                                    </strong>
                                    918 748 068 |
                                    <strong style="font-family:sans-serif;font-weight:700">
                                        Tlm.
                                    </strong>
                                    912 981 019
                                </p>
                                <p style="font-family:sans-serif;font-size:13px;font-weight:100;text-align:center">
                                    <a href='http://www.healthydiet.pt' target="_blank"  style="text-decoration:none;color:#e82583">
                                        www.healthydiet.pt
                                    </a>
                                    |
                                    <a href='' style="text-decoration:none;color:#e82583">
                                        geral@healthydiet.pt
                                    </a>
                                    |
                                    <a href='http://www.facebook.com/dietistaodete/' style="text-decoration:none;color:#e82583">
                                        facebook.com/healthydiet
                                    </a>
                                </p>
                            </div>
                        </div>
                </div>
    </body>
</html>
